html{
    background-color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
    color: antiquewhite;
}
.head {   
font-style: italic, bold;
padding-left: 20%;
padding-top: 1rem;
padding-right: 10%;
padding-bottom: 6rem;
}
.padd {
    padding-left: 3rem;
}
table, tr, td
{
    border: 1px;
    border-color: grey;
    border-style: solid;
}
td
{
padding-left: 1rem;
text-align: center;
border: 0px;
width: 20%;
}
.padd2{
    font-size: 30px;
    margin: 20%;
    height: 2rem;
    color: azure;
    border: 0px;

}