table
{
    border: 1px solid red;
    border-spacing: 0px;
    width: 100%;
    text-align: center;
}

td
{
    width: 8.33%;
    border: 1px solid black;    
}
td.lant
{
    width : 7.14%;
    border: 1px solid blue;
    
}
