html {
    background-color: rgb(41, 123, 41);
}

.table1 {
height: 7rem;
width: 80%;
text-align: center;
}


.circle1 {
    margin-left: 30%;
    display:inline-block;
    height: 7rem;
    width: 7rem;
    background-color: rgb(255, 255, 255);
    border: 0px solid black;
    border-radius: 50%;
}

.nadpis {
    margin-left: 30%;
    font-size: 18px;
    text-align: left;
    color: antiquewhite;
}
.nadpis2 {
    margin-left : 30%;
    margin-top: 3%;
    font-size: 18px;
    font-style: bold;


}

.burger
{
    width: 5rem;
    height: 1rem;
    margin-left: 80%;
    background-color: white;
    margin-top: 2rem;
    border-radius: 20px;


}

.fitpic {
    padding-left: 17%;
    padding-top: 5%;
    width: 64.5%;
}

.butpic {
    background-color: blue;
    

}